.Bouton {
  background: #3f51b5;
  border: 2px solid #3f51b5;
  border-radius: 2px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  transition: background .2s;
}

.Bouton.large {
  width: auto;
}

.Bouton.secondary {
  background: transparent;
}

.Bouton:hover {
  background: #5c6bc0;
  cursor: pointer;
}

.Bouton-Text {
  font-size: 14px;
  color: white;
}
